<!--
<section class="registro-user">
    <div class="wrapper">

        <div class="section-registro">
            <div class="header-registro">
                <mat-icon class="icon-back" (click)="regresar()">arrow_back</mat-icon>
                <span *ngIf="!editar" class="title">Registrarse</span>
                <span *ngIf="editar" class="title">Actualizar usuario</span>
                <mat-icon class="icon-forward">arrow_forward</mat-icon>
            </div>
            <div class="body-registro">
                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>ID/Matrícula</mat-label>
                    <input matInput [(ngModel)]="user.matricula" name="id" placeholder="Escribe ID o matrícula">
                </mat-form-field>
                <div *ngIf="errors.matricula" class="invalid-feedback">{{ errors.matricula }}</div>

                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput [(ngModel)]="user.name" placeholder="Escribe nombre">
                </mat-form-field>
                <div *ngIf="errors.name" class="invalid-feedback">{{ errors.name }}</div>


                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>Correo electrónico</mat-label>
                    <input matInput [(ngModel)]="user.email" placeholder="Escribe correo electrónico"
                        [disabled]="editar">
                </mat-form-field>
                <div *ngIf="errors.email" class="invalid-feedback">{{ errors.email }}</div>

                <mat-form-field class="mat-input" appearance="outline" *ngIf="!editar">
                    <mat-label>Contraseña</mat-label>
                    <input matInput [(ngModel)]="user.password" type="{{ inputType_1 }}"
                        placeholder="Escribe contraseña">
                    <mat-icon matSuffix class="eye-icon" (click)="showPassword()">{{hide_1 ? 'visibility_off' :
                        'visibility'}}</mat-icon>
                </mat-form-field>
                <div *ngIf="errors.password" class="invalid-feedback">{{ errors.password }}</div>
                <mat-form-field class="mat-input" appearance="outline" *ngIf="!editar">
                    <mat-label>Confirmar contraseña</mat-label>
                    <input matInput [(ngModel)]="user.confirmar_password" type="{{ inputType_2 }}"
                        placeholder="Confirma la contraseña">
                    <mat-icon matSuffix class="eye-icon" (click)="showPwdConfirmar()">{{hide_2 ? 'visibility_off' :
                        'visibility'}}</mat-icon>
                </mat-form-field>
                <div *ngIf="errors.confirmar_password" class="invalid-feedback">{{ errors.confirmar_password }}</div>

                
                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>Fecha de nacimiento</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="user.fecha_nacimiento" (focus)="picker.open()"
                        placeholder="Agregar fecha" (dateChange)="changeFecha($event)" type="string">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <div *ngIf="errors.fecha_nacimiento" class="invalid-feedback">{{ errors.fecha_nacimiento }}</div>

                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>CURP</mat-label>
                    <input matInput [(ngModel)]="user.curp" placeholder="Escribe CURP"
                        style="text-transform: uppercase;">
                </mat-form-field>

                
                <div *ngIf="errors.curp" class="invalid-feedback">{{ errors.curp }}</div>

                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>RFC</mat-label>
                    <input matInput [(ngModel)]="user.rfc" placeholder="Escribe RFC" style="text-transform: uppercase;">
                </mat-form-field>
                <div *ngIf="errors.rfc" class="invalid-feedback">{{ errors.rfc }}</div>

                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>Edad</mat-label>
                    <input matInput [(ngModel)]="user.edad" mask='00' placeholder="Escribe edad">
                </mat-form-field>
                <div *ngIf="errors.edad" class="invalid-feedback">{{ errors.edad }}</div>

                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>Teléfono</mat-label>
                    <input matInput [(ngModel)]="user.telefono" mask='(000) 000-0000' placeholder="Escribe teléfono">
                </mat-form-field>
                <div *ngIf="errors.telefono" class="invalid-feedback">{{ errors.telefono }}</div>

                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>Ocupación</mat-label>
                    <input matInput [(ngModel)]="user.ocupacion" placeholder="Escribe teléfono">
                </mat-form-field>
                <div *ngIf="errors.ocupacion" class="invalid-feedback">{{ errors.ocupacion }}</div>

                <div class="section-buttons">
                    <button class="btn btn-danger" (click)="regresar()">Cancelar</button>
                    <button *ngIf="!editar" class="btn btn-primary" type="submit"
                        (click)="registrar()">Registrar</button>
                     
                </div>
            </div>
        </div>
    </div>
</section> -->