$primary-color: #2c3e50;
$secondary-color: #3498db;
$font-family: 'Arial', sans-serif;


.logo-buap{
    width: 80%;
    height: 320px;
}

.section-registro{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}


body {
    font-family: $font-family;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: $primary-color;
    color: white;
    padding: 20px 0;
    text-align: center;

    h1 {
        margin: 0;
    }
}

.registration-form {
    background-color: white;
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .input-group {
        margin-bottom: 20px;

        label {
            display: block;
            margin-bottom: 5px;
        }

        input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    }

    button {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: $primary-color;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: $secondary-color;
        }
    }
}

main {
    flex: 1;
}

footer {
    background-color: $primary-color;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}


.button-container {
    display: flex;
    justify-content: space-between; // Distribuye el espacio entre los elementos
    align-items: center; // Alinea verticalmente los elementos al centro
    margin-top: 20px; // Espacio superior para separar de otros elementos
}

/* Estilo para el botón Cancelar */
.button-container button:first-child {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: red;
    color: white; // Color de texto blanco para mejor contraste
    border: none; // Elimina el borde predeterminado del botón
    width: 200px;
}

/* Estilo para el botón Registrarse */
.button-container button:last-child {
    display:flex;
    justify-content: center;
    text-align: center;
    background-color: blue;
    color: white; // Color de texto blanco para mejor contraste
    border: none; // Elimina el borde predeterminado del botón
    width: 200px;
}
