<section class="registro-user">
    <div class="wrapper">
        <!-- Va a englobar todo el formulario con la cabecera -->
        <div class="section-registro">
            <div class="header-registro">
                <mat-icon class="icon-back" (click)="regresar()">arrow_back</mat-icon>
                <span *ngIf="!editar" class="title">Registrarse</span>
                <span *ngIf="editar" class="title">Actualizar usuario</span>
                <mat-icon class="icon-forward">arrow_forward</mat-icon>
            </div>
            <div class="body-registro">
                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>ID/Matrícula</mat-label>
                    <input matInput [(ngModel)]="user.matricula" name="id" placeholder="Escribe ID o matrícula">
                </mat-form-field>
                
                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput [(ngModel)]="user.first_name" placeholder="Escribe nombre">
                </mat-form-field>

                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>Apellidos</mat-label>
                    <input matInput [(ngModel)]="user.last_name" placeholder="Escribe apellidos">
                </mat-form-field>
            </div>
        </div>
    </div>
</section>