<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BUAP - Universidad Autónoma de Puebla</title>
</head>

<body>
    <header>
        <div class="logo-container">
            <img src="assets/images/FCCBuap.png" class="logo-buap"
                alt="Logo BUAP" />
        </div>
        <h1>Universidad Autónoma de Puebla (BUAP)</h1>
        <nav>
            <ul>
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#carreras">Carreras</a></li>
                <li><a href="#noticias">Noticias</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <section id="inicio">
        <h2>Bienvenidos a la BUAP</h2>
        <p>La Universidad Autónoma de Puebla, reconocida como la tercera mejor
            universidad de México, se dedica a
            proporcionar una educación de excelencia a todos sus estudiantes.</p>
    </section>
    <section id="carreras">
        <h2>Carreras Ofrecidas</h2>
        <ul>
            <li>Ingeniería Informática</li>
            <li>Medicina</li>
            <li>Derecho</li>
            <li>Arquitectura</li>
        </ul>
    </section>
    <section id="noticias">
        <h2>Últimas Noticias</h2>
        <article>
            <h3>Conferencia sobre Inteligencia Artificial</h3>
            <p>La BUAP organizará una conferencia sobre Inteligencia Artificial
                el próximo mes.</p>
        </article>
        <article>
            <h3>Inscripciones Abiertas para el próximo semestre</h3>
            <p>Las inscripciones para el próximo semestre están abiertas.
                ¡Inscríbete ahora!</p>
        </article>
    </section>
    <section id="contacto">
        <h2>Contacto</h2>
        <p>Si tienes alguna pregunta, no dudes en <a href="mailto:info@buap.mx">contactarnos</a>.</p>
    </section>
    <footer>
        <p>&copy; 2023 BUAP - Universidad Autónoma de Puebla. Todos los derechos
            reservados.</p>
    </footer>
</body>